<!-- 列表动画.html -->
<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <title>Document</title>
    <script src="../lib/vue.min.js"></script>
    <style>
        li{
			border: 1px dashed #000;
			padding: 10px 20px;
			width: 100%;
			margin: 10px auto;
		}

		.v-enter,.v-leave-to {
			opacity: 0;
			transform: translateY(80px);
		}

		.v-enter-active,.v-leave-avtive {
			transition: all .6s ease;
		}

		li:hover {
			background-color: lightblue;
			transition: all .6s ease;
		}

		.v-move {
			transition: all .6s ease;
		}

		.v-leave-active{
			position: absolute;
		}
	</style>
</head>

<body>
    <div id="app">
        Id:<input type="text" v-model='id'>
        Name:<input type="text" v-model='name'>
        <input type="button" @click='add' value="add">
        <!-- <ul> -->
        <!-- 1.在实现列表过渡的时候,如果需要过渡的元素是通过 v-for 循环
        	渲染出来的,不能使用 transition 包裹,需要使用 transition-group  -->
        <!-- 2.如果要为 v-for 循环创建的元素设置动画,必须为每一个元素设置 :key 
			属性  -->
        <!-- 3.给transition-group 添加 appear 属性,实现入场时候的效果 -->
        <!-- 4.通过为 transition-group 元素添加 tag 属性,指定该元素渲染为指定
        元素,如果不指定 tag 属性,默认渲染为 span 标签 -->
        <transition-group appear tag='ul'>
            <li v-for='(item,i) in list' :key='item.id' @click='del(i)'>{{item.id}} ---- {{item.name}}</li>
        </transition-group>
        <!-- </ul> -->
    </div>
    <script>
    new Vue({
        el: "#app",
        data: {
            id: '',
            name: '',
            list: [
                { id: 1, name: '赵高' },
                { id: 2, name: '秦桧' },
                { id: 3, name: '严嵩' },
                { id: 4, name: '魏忠贤' },
            ]
        },
        methods: {
            add() {
                this.list.push({ id: this.id, name: this.name });
                this.id = ''
                this.name = ''
            },
            del(i) {
                this.list.splice(i, 1);
            }
        }
    });
    </script>
</body>

</html>